﻿@page
@model PMS.WebApp.Areas.Manage.Pages.Manufacturer.DeleteModel
@{
    ViewData["Title"] = "Xóa Manufacturer";
}
<h2 style="margin-top:100px">@ViewData["Title"]</h2>
<partial name="_StatusMessage" model="@Model.StatusMessage"></partial>

<hr>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <p>Bạn có chắc chắn xóa <strong>@Model.Manufacturer.Name</strong></p>
            <div class="form-group">
                <input type="submit" value="Đồng ý" class="btn btn-danger" />
                <a class="btn btn-primary" asp-page="./Index">Danh sách các role</a>
            </div>
        </form>
    </div>
</div>