﻿@page
@model PMS.WebApp.Areas.Manage.Pages.Manufacturer.EditModel
@{
    ViewData["Title"] = "Cập nhật manufacturer";
}
<h2 style="margin-top:100px">@ViewData["Title"]</h2>
<partial name="_StatusMessage" model="@Model.StatusMessage"></partial>

<hr>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Request.Name" class="control-label"></label>
                <input asp-for="Request.Name" class="form-control" />
                <span asp-validation-for="Request.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request.Address" class="control-label"></label>
                <input asp-for="Request.Address" class="form-control" />
                <span asp-validation-for="Request.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request.Phone" class="control-label"></label>
                <input asp-for="Request.Phone" class="form-control" />
                <span asp-validation-for="Request.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request.Email" class="control-label"></label>
                <input asp-for="Request.Email" class="form-control" type="email"/>
                <span asp-validation-for="Request.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
                <a class="btn btn-primary" asp-page="./Index">Danh sách các role</a>
            </div>
        </form>
    </div>
</div>