﻿@page
@model PMS.WebApp.Areas.Manage.Pages.Manufacturer.IndexModel
@{
    ViewData["Title"] = "Danh sách các nhà sản xuất";
}
<h2 style="margin-top:100px">@ViewData["Title"]</h2>

@*<partial name="_StatusMessage" model="@Model.StatusMessage"></partial>*@


<div class="mb-2">
    <a class="btn btn-secondary" asp-page="./Create">Add new cateogory</a>
</div>

<table class="table">
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model.Manufacturers.Manufacturers)
    {
        <tr>
            <td>@item.Code</td>
            <td>@item.Name</td>
            <td>@item.Phone</td>
            <td>@item.Email</td>
            <td>@item.Address</td>
            <td>
                <a class="btn btn-success btn-sm" asp-page="./Edit" asp-route-id="@item.Id">Update</a>
                <a class="btn btn-success btn-sm" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>