﻿@page
@model PMS.WebApp.Areas.Admin.Pages.User.AddRoleModel
@{
    ViewData["Title"] = "Gán role";
}

<h4>Setting role for : @Model.user.UserName</h4>
<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Roles"></label>
                @Html.ListBoxFor(m => m.Roles, @Model.AllRoles, new { id = "id-select-roles", @class = "w-100"})
                <span asp-validation-for="Roles" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
            <a class="btn btn-primary" asp-page="./Index">List Member</a>
        </form>
    </div>
</div>


@section Scripts {

    <script src="~/lib/multiple-select/multiple-select.min.js"></script>
    <link rel="stylesheet" href="~/lib/multiple-select/multiple-select.min.css" />

    <script>
        $("#id-select-roles").multipleSelect({
            selectAll: false,
            keepOpen: false,
            isOpen: false,
        });
    </script>

    <partial name="_ValidationScriptsPartial" />
}
