﻿@page
@using PMS.Contract.Commons.Paging;
@model PMS.WebApp.Areas.Admin.Pages.User.IndexModel
@{
    ViewData["Title"] = "Danh sách các thành viên";
}
<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage" model="@Model.StatusMessage"></partial>
<p>Tổng số thành viên: @Model.UserResponse.Page.ToTalRecord</p>


<form asp-page="./Index" method="get">
    <div class="form-actions">
        <p>
            <input type="text" value="@Model.UserRequest.KeyWords" />
            <input type="submit" value="Keyword" class="btn btn-primary" /> 
        </p>
    </div>
</form>

<table class="table">
    <tr>
        <th>Username</th>
        <th>Role</th>
        <th>Action</th>
    </tr>
    @foreach (var user in Model.UserResponse.Users)
    {
        <tr>
            <td>@user.UserName</td>
            <td>
                @if (user.Roles.Count() == 0)
                {
                    <a class="text-dark" asp-page="./AddRole" asp-route-id="@user.Id">+ Add roles</a>
                }
                else
                {
                    <a asp-page="./AddRole" asp-route-id="@user.Id">@string.Join(", ", user.Roles)</a>
                }
            </td>
            <td>
                <a class="btn btn-success btn-sm" asp-page="./SetPassword" asp-route-id="@user.Id">Set Password</a>
            </td>
        </tr>
    }
</table>

@{
    var prevDisabled = !Model.UserResponse.Page.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.UserResponse.Page.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.UserRequest.SortField"
   asp-route-page="@(Model.UserRequest.Page - 1)"
   asp-route-keyword="@Model.UserRequest.KeyWords"
   class="btn btn-primary @prevDisabled">
   Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.UserRequest.SortField"
   asp-route-page="@(Model.UserRequest.Page + 1)"
   asp-route-keyword="@Model.UserRequest.KeyWords"
   class="btn btn-primary @nextDisabled">
    Next
</a>



