﻿@page
@model PMS.WebApp.Areas.Admin.Pages.User.SetPasswordModel
@{
    ViewData["Title"] = "Đặt mật khẩu";
}

<h4>Set password cho thành viên: @Model.user.UserName</h4>
<partial name="_StatusMessage" for="StatusMessage" />


<div class="row">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Set Password</button>
            <a class="btn btn-primary" asp-page="./Index">List Member</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}