﻿@page
@using System.Text.Json
@model PMS.WebApp.Areas.Manage.Pages.Product.DetailModel
@{
    ViewData["Title"] = "Detail product";
}
<div class="container-fluid">
    <h2 style="margin-top:100px">@ViewData["Title"]</h2>
    <partial name="_StatusMessage" model="@Model.StatusMessage"></partial>

    <hr>
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CreateUpdateProduct.Code" class="control-label"></label>
                    <input asp-for="CreateUpdateProduct.Code" class="form-control" />
                    <span asp-validation-for="CreateUpdateProduct.Code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreateUpdateProduct.Name" class="control-label"></label>
                    <input asp-for="CreateUpdateProduct.Name" class="form-control" />
                    <span asp-validation-for="CreateUpdateProduct.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreateUpdateProduct.CategoryId" class="control-label"></label>
                    <select class="form-select" 
                            aria-label="Category" 
                            asp-for="CreateUpdateProduct.CategoryId" 
                            asp-items="@(new SelectList(Model.Category, "Id", "Name"))">
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="CreateUpdateProduct.ManufacturerId" class="control-label"></label>
                    <select class="form-select" 
                            aria-label="Manufacturer" 
                            asp-for="CreateUpdateProduct.ManufacturerId" 
                            asp-items="@(new SelectList(Model.Manufacturer, "Id", "Name"))">
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="CreateUpdateProduct.Quantity" class="control-label"></label>
                    <input asp-for="CreateUpdateProduct.Quantity" class="form-control" />
                    <span asp-validation-for="CreateUpdateProduct.Quantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreateUpdateProduct.ProductionDate" class="control-label"></label>
                    <input type="date" asp-for="CreateUpdateProduct.ProductionDate" class="form-control" />
                    <span asp-validation-for="CreateUpdateProduct.ProductionDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreateUpdateProduct.ExpireDate" class="control-label"></label>
                    <input type="date" asp-for="CreateUpdateProduct.ExpireDate" class="form-control" />
                    <span asp-validation-for="CreateUpdateProduct.ExpireDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreateUpdateProduct.Price" class="control-label"></label>
                    <input asp-for="CreateUpdateProduct.Price" class="form-control" />
                    <span asp-validation-for="CreateUpdateProduct.Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductDto.ProductVariations" class="control-label"></label>
                    <input asp-for="VariationJson" hidden id="variationsInput" />
                    <div class="form-control" 
                         data-bs-toggle="modal" 
                         data-bs-target="#exampleModal" 
                         style="cursor: pointer">
                            <span id="variationData">
                            @{
                                var variations = Model.ProductDto.ProductVariations;
                                var variationString = "";
                                if (variations != null)
                                {
                                    variationString = string.Join("-", variations.Select(item => $"{{{item.Name}: {item.Value}}}"));
                                }
                            }   
                            @variationString
                            </span>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Variations</h1>
                                <a asp-page="../Variation" class="btn btn-primary">Add New</a>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <h3 class="text-center">Variation list</h3>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Search ... " aria-label="Recipient's username" aria-describedby="button-addon2">
                                        <button class="btn btn-outline-primary mb-0" type="button" id="button-addon2">Button</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6" style="overflow-y: auto; max-height: 200px;">
                                        <ul class="list-group" id="itemList">
                                            @foreach (var item in Model.Variations)
                                            {
                                               
                                                    var isActive = Model.ProductDto.ProductVariations.Any(pv => pv.VariationId == item.Id);
                                                    var avtiveClass = isActive ? " active" : "";
                                                    <li class="list-group-item @avtiveClass" data-index="@item.Id">@item.Name</li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="col-6" id="inputContainer" style="overflow-y: auto; max-height: 200px;">
                                        <!--generate input -->
                                        @foreach(var item in Model.ProductDto.ProductVariations)
                                        {
                                            <label id="label-@item.VariationId">@item.Name</label>
                                            <input id="input-@item.VariationId" value="@item.Value"/>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="saveVariation()">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->

                <div class="form-group">
                    <button type="submit"  class="btn btn-success">Lưu thay đổi</button>
                    <a class="btn btn-primary" asp-page="./Index">Danh sách các product</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const itemList = document.getElementById("itemList");
    const inputContainer = document.getElementById("inputContainer");
    let activeListItem = null;

    itemList.addEventListener("click", (event) => {
        if (event.target.tagName === "LI") {

            const liIndex = event.target.getAttribute("data-index");
            if (activeListItem === event.target) {
                // If the clicked list item is the same as the active one, remove "active" class
                event.target.classList.remove("active");
                // Remove the input element
                const inputElement = document.getElementById(`input-${liIndex}`);
                const labelElement = document.getElementById(`label-${liIndex}`);
                if (inputElement) {
                    inputElement.remove();
                    labelElement.remove();
                }
                activeListItem = null;
            }
            else {
                event.target.classList.add("active");
                activeListItem = event.target;
                const liText = activeListItem.textContent;
                // Check if an input already exists for this item
                if (!document.getElementById(`input-${liIndex}`)) {
                    // Create a new input element
                    const input = document.createElement("input");
                    input.id = `input-${liIndex}`;
                    input.placeholder = "Enter value";
                    input.name = `${liIndex}`;

                    // Create a new label element
                    const label = document.createElement("label");
                    label.id = `label-${liIndex}`;
                    label.textContent = `${liText}`;

                    inputContainer.appendChild(label);
                    // Append the input element to the inputContainer
                    inputContainer.appendChild(input);
                }
            }
        }
    });
</script>

<script>
    window.onload = function(){
        saveVariation();
    }
    function saveVariation() {
        const data = [];

        const inputElements = inputContainer.querySelectorAll("input");
        inputElements.forEach(input => {
            const labelId = input.id.replace("input-", "label-");
            const label = document.querySelector(`#${labelId}`);
            const labelString = label.textContent;
            const value = input.value;
            var inputId = labelId.split('-');
            data.push({ id: inputId[1], label: labelString, value: value });
        });
        const dataDisplay = data.map(item => `{${item.label}: ${item.value}}`).join(' - ');
        console.log(dataDisplay);
        const dataString = JSON.stringify(data);
        console.log(dataString);
        const variationsInput = document.getElementById("variationsInput");
        variationsInput.value = dataString;

        const variationData = document.getElementById("variationData");
        if (data.length > 0) {
            variationData.textContent = dataDisplay;
        } else {
            variationData.textContent = "choose variation"
        }
    }
</script>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}