﻿@page
@model PMS.WebApp.Areas.Manage.Pages.Inventory.Product.IndexModel
@{
    ViewData["Title"] = "Danh sách các products";
}
<div class="container-fluid">

    <h2 style="margin-top:100px">@ViewData["Title"]</h2>
    <partial name="_StatusMessage" model="@Model.StatusMessage"></partial>

    <div class="mb-2 d-flex justify-content-between">
        <a class="btn btn-secondary" asp-page="./Create">Add a new product</a>
        <div>
            <button class="btn btn-primary" onclick="ExportToExcel()">Download excel</button>
            <button type="button" class="btn btn-info">Get template</button>
        </div>
    </div>
    @*filter*@
    <form method="post" >
        <div class="row mb-3">
            <div class="col-2">
                <select class="form-select" aria-label="Category" asp-for="ProductRequest.CategoryId">
                    <option value="0">---Selected all category---</option>
                    @foreach (var item in Model.Category)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="col-2">
                <select class="form-select" aria-label="Manufacturer" asp-for="ProductRequest.ManufacturerId">
                    <option value="0">---Selected all manufacturer---</option>
                    @foreach (var item in Model.Manufacturer)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="col-3 d-flex">
                <input asp-for="ProductRequest.KeyWords" type="text" class="form-control" placeholder="Search..." aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-primary mb-0" type="submit" id="button-addon2">Search</button>
            </div>
        </div>
    </form>

    <div class="card">
        <div class="table-responsive">
            <table class="table align-items-center mb-0 table-hover">
                <thead>
                    <tr>
                        <th class="text-uppercase text-secondary text-center text-xxs font-weight-bolder opacity-7">
                            Code
                            <i class="fa-solid fa-arrow-up"></i>
                            <i class="fa-solid fa-arrow-down"></i>
                        </th>
                        <th class="text-uppercase text-secondary text-center text-xxs font-weight-bolder opacity-7 ps-2">Name</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Category</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Manufacturer</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Quantity</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Price</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Production Date</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Expire Date</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                            Attribute
                        </th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ProductReponse.Products)
                    {
                        <tr class="text-center" style="cursor: pointer;">
                            <td>
                                <p class="text-xs text-center font-weight-bold mb-0">@item.Code</p>
                            </td>
                            <td>
                                <p class="text-xs text-center text-secondary mb-0 text-truncate" style="max-width:150px;">@item.Name</p>
                            </td>
                            <td>
                                <p class="text-xs text-center text-secondary mb-0">@item.CategoryName</p>
                            </td>
                            <td>
                                <p class="text-xs text-center text-secondary mb-0 text-truncate" style="max-width:100px;">@item.ManufacturerName</p>
                            </td>
                            <td>
                                <p class="text-xs text-center text-secondary mb-0">@item.Quantity</p>
                            </td>
                            <td>
                                <p class="text-xs text-center text-secondary mb-0">@item.Price</p>
                            </td>
                            <td>
                                <p class="text-xs text-center text-secondary mb-0">@item.DateOfManufacture.ToString("yyyy/MM/dd")</p>
                            </td>
                            <td>
                                <p class="text-xs text-center text-secondary mb-0">@item.Expiry?.ToString("yyyy/MM/dd")</p>
                            </td>
                            <td>
                                <button type="button" class="btn bg-gradient-default" data-bs-toggle="modal" data-bs-target="#variationModal_@item.Id">variation</button>
                                <!-- Modal -->
                                <div class="modal fade" id="variationModal_@item.Id" tabindex="-1" aria-labelledby="modalVariationLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h2 class="modal-title fs-5" id="modalVariationLabel">Variatoin of product</h2>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                @if (item.ProductVariations.Count() != 0)
                                                {
                                                    <table class="table align-items-center mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                                                                <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Value</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var variation in item.ProductVariations)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        <p class="text-xs text-center text-secondary mb-0">@variation.Name</p>
                                                                    </td>
                                                                    <td>
                                                                        <p class="text-xs text-center text-secondary mb-0">@variation.Value</p>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                } else
                                                {
                                                    <p>...</p>
                                                }
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <a class="btn btn-outline-info" asp-page="./Detail" asp-route-id="@item.Id">Show detail</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>




<script>
    function ExportToExcel() {
        window.location.href = 'https://localhost:5001/api/Extension/product';
    }
</script>
