﻿@page
@model PMS.WebApp.Areas.Manage.Pages.Product.Variation.IndexModel
@{
    ViewData["Title"] = "Create a new variation";
}
<div class="container-fluid">

    <h2 style="margin-top:100px">@ViewData["Title"]</h2>
    <partial name="_StatusMessage" model="@Model.StatusMessage"></partial>

    <hr>

    <div class="row">
        <div class="col-md-6">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="VariationRequest.Name" class="control-label"></label>
                    <input asp-for="VariationRequest.Name" class="form-control" />
                    <span asp-validation-for="VariationRequest.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Tạo mới" class="btn btn-primary" />
                    <a class="btn btn-primary" asp-page="./Product/Index">Back product list</a>
                </div>
            </form>
        </div>
    </div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
        @foreach (var variation in Model.Variations)
        {
            <tr>
                <td>@variation.Name</td>
            </tr>
        }
    </table>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
