﻿<footer class="footer pt-3  ">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
            </div>
            <div class="col-lg-6">
                @*<ul class="nav nav-footer justify-content-center justify-content-lg-end">
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link text-muted" >NuocFTraiK</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link text-muted" >About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link text-muted">Blog</a>*@
                        <!--Target blank la để chuyển trang mới-->
                        @* <a href="javascript:;" class="nav-link text-muted" target="_blank">Blog</a> *@
                   @* </li>
                </ul>*@
            </div>
        </div>
    </div>
</footer>