﻿@page
@model PMS.WebApp.Areas.Manage.Pages.IndexModel
@{
}



<!-- Header Dashboard  -->
<vc:header></vc:header>
<!-- End Header Dashboard -->
<div class="container-fluid py-4">
    @*filter*@
    <div class="row mt-2">
        <div class="col-4">
            <input class="form-control datepicker" placeholder="Selete date" type="text" onfocus="focused(this)" onfocusout="defocused(this)">
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-uppercase font-weight-bold">Today's Money</p>
                                <h5 class="font-weight-bolder">
                                    +@Model.RevenueToDay.Money VND
                                </h5>
                                <p class="mb-0">
                                    @if (Model.RateYesterday > 0)
                                    {
                                        <span class="text-success text-sm font-weight-bolder">+@Model.RateYesterday%</span>
                                    }
                                    else
                                    {
                                        <span class="text-danger text-sm font-weight-bolder">@Model.RateYesterday%</span>
                                    }
                                    since yesterday
                                </p>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                                <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-uppercase font-weight-bold">Week's Money</p>
                                <h5 class="font-weight-bolder">
                                    +@Model.RevenueWeek.Money VND
                                </h5>
                                <p class="mb-0">
                                    @if (Model.RateYesterday > 0)
                                    {
                                        <span class="text-success text-sm font-weight-bolder">+@Model.RateLastWeek%</span>
                                    }
                                    else
                                    {
                                        <span class="text-danger text-sm font-weight-bolder">@Model.RateLastWeek%</span>
                                    }
                                    since last week
                                </p>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                                <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-uppercase font-weight-bold">Quarter's Money'</p>
                                <h5 class="font-weight-bolder">
                                    +@Model.RevenueQuarter.Money VND
                                </h5>
                                <p class="mb-0">
                                    @if (Model.RateLastQuarter > 0)
                                    {
                                        <span class="text-success text-sm font-weight-bolder">+@Model.RateLastQuarter%</span>
                                    }
                                    else
                                    {
                                        <span class="text-danger text-sm font-weight-bolder">@Model.RateLastQuarter%</span>
                                    }
                                    since last quarter
                                </p>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                                <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-uppercase font-weight-bold">Year's Money'</p>
                                <h5 class="font-weight-bolder">
                                    +@Model.RevenueYear.Money VND
                                </h5>
                                <p class="mb-0">
                                    @if (Model.RateYesterday > 0)
                                    {
                                        <span class="text-success text-sm font-weight-bolder">+@Model.RateLastYear%</span>
                                    }
                                    else
                                    {
                                        <span class="text-danger text-sm font-weight-bolder">@Model.RateLastYear%</span>
                                    }
                                    than last year
                                </p>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle">
                                <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-7 mb-lg-0 mb-4">
            <div class="card z-index-2 h-100">
                <div class="card-header pb-0 pt-3 bg-transparent d-flex align-items-center">
                    <div>
                        <h6 class="text-capitalize me-2">Sales overview</h6>
                    </div>
                    <div class="col-2">
                        <select onchange="updateYear()" id="YearRequest" class="form-select" aria-label="Default select example"
                                asp-for="YearRequest" asp-items="@(new SelectList(Model.YearList))">
                        </select>
                    </div>
                </div>
                <div class="card-body p-3">
                    <div class="chart">
                        <canvas id="chart-line" class="chart-canvas" height="300"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="card card-carousel overflow-hidden h-100 p-0">
                <div class="card-header pb-0 pt-3 bg-transparent">
                    @{
                        string[] months = { "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" };
                    }
                    <h6 class="text-capitalize me-2">Top selling products in <span>@months[Model.MonthRequest-1]</span> <span>@Model.YearRequest</span></h6>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="text-center font-weight-bold">
                            Top quantity</>
                            <table id="TopProductTable" class="table">
                                <tbody>
                                    @for (int i = 0; i < Model.ProductQuantityTops.Count; i++)
                                    {
                                        <tr>
                                            <td>@(i+1)</td>
                                            <td class="text-truncate" style="max-width:150px;">@Model.ProductQuantityTops[i].ProductName</td>
                                            <td>@Model.ProductQuantityTops[i].TotalQuantity</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                    </div>
                    <div class="col-6">
                        <p class="text-center font-weight-bold">
                            Top revenue</>
                            <table id="TopProductRevenueTable" class="table">
                                <tbody>
                                    @for (int i = 0; i < Model.ProductRevenueTops.Count; i++)
                                    {
                                        <tr>
                                            <td>@(i + 1)</td>
                                            <td class="text-truncate" style="max-width:130px;">@Model.ProductRevenueTops[i].ProductName</td>
                                            <td>@Model.ProductRevenueTops[i].TotalMoney $</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-7 mb-lg-0 mb-4">
            <div class="card ">
                <div class="card-header pb-0 p-3">
                    <div class="d-flex justify-content-between">
                        <h6 class="mb-2">Sales by Country</h6>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center ">
                        <tbody>
                            <tr>
                                <td class="w-30">
                                    <div class="d-flex px-2 py-1 align-items-center">
                                        <div>
                                            <img src="../assets/img/icons/flags/US.png" alt="Country flag">
                                        </div>
                                        <div class="ms-4">
                                            <p class="text-xs font-weight-bold mb-0">Country:</p>
                                            <h6 class="text-sm mb-0">United States</h6>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <p class="text-xs font-weight-bold mb-0">Sales:</p>
                                        <h6 class="text-sm mb-0">2500</h6>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <p class="text-xs font-weight-bold mb-0">Value:</p>
                                        <h6 class="text-sm mb-0">$230,900</h6>
                                    </div>
                                </td>
                                <td class="align-middle text-sm">
                                    <div class="col text-center">
                                        <p class="text-xs font-weight-bold mb-0">Bounce:</p>
                                        <h6 class="text-sm mb-0">29.9%</h6>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-30">
                                    <div class="d-flex px-2 py-1 align-items-center">
                                        <div>
                                            <img src="../assets/img/icons/flags/DE.png" alt="Country flag">
                                        </div>
                                        <div class="ms-4">
                                            <p class="text-xs font-weight-bold mb-0">Country:</p>
                                            <h6 class="text-sm mb-0">Germany</h6>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <p class="text-xs font-weight-bold mb-0">Sales:</p>
                                        <h6 class="text-sm mb-0">3.900</h6>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <p class="text-xs font-weight-bold mb-0">Value:</p>
                                        <h6 class="text-sm mb-0">$440,000</h6>
                                    </div>
                                </td>
                                <td class="align-middle text-sm">
                                    <div class="col text-center">
                                        <p class="text-xs font-weight-bold mb-0">Bounce:</p>
                                        <h6 class="text-sm mb-0">40.22%</h6>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-30">
                                    <div class="d-flex px-2 py-1 align-items-center">
                                        <div>
                                            <img src="../assets/img/icons/flags/GB.png" alt="Country flag">
                                        </div>
                                        <div class="ms-4">
                                            <p class="text-xs font-weight-bold mb-0">Country:</p>
                                            <h6 class="text-sm mb-0">Great Britain</h6>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <p class="text-xs font-weight-bold mb-0">Sales:</p>
                                        <h6 class="text-sm mb-0">1.400</h6>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <p class="text-xs font-weight-bold mb-0">Value:</p>
                                        <h6 class="text-sm mb-0">$190,700</h6>
                                    </div>
                                </td>
                                <td class="align-middle text-sm">
                                    <div class="col text-center">
                                        <p class="text-xs font-weight-bold mb-0">Bounce:</p>
                                        <h6 class="text-sm mb-0">23.44%</h6>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-30">
                                    <div class="d-flex px-2 py-1 align-items-center">
                                        <div>
                                            <img src="../assets/img/icons/flags/BR.png" alt="Country flag">
                                        </div>
                                        <div class="ms-4">
                                            <p class="text-xs font-weight-bold mb-0">Country:</p>
                                            <h6 class="text-sm mb-0">Brasil</h6>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <p class="text-xs font-weight-bold mb-0">Sales:</p>
                                        <h6 class="text-sm mb-0">562</h6>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-center">
                                        <p class="text-xs font-weight-bold mb-0">Value:</p>
                                        <h6 class="text-sm mb-0">$143,960</h6>
                                    </div>
                                </td>
                                <td class="align-middle text-sm">
                                    <div class="col text-center">
                                        <p class="text-xs font-weight-bold mb-0">Bounce:</p>
                                        <h6 class="text-sm mb-0">32.14%</h6>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="card">
                <div class="card-header pb-0 p-3">
                    <h6 class="mb-0">Categories</h6>
                </div>
                <div class="card-body p-3">
                    <ul class="list-group">
                        @foreach (var item in Model.ListCategory)
                        {
                            <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                                <div class="d-flex align-items-center">
                                    @*<div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                                        <i class="ni ni-mobile-button text-white opacity-10"></i>
                                    </div>*@
                                    <div class="d-flex flex-column">
                                        <h6 class="mb-1 text-dark text-sm">@item.CategoryName</h6>
                                        <span class="text-xs">@item.StockProduct+ in stock, <span class="font-weight-bold">@item.SoldProduct+ sold</span></span>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <button class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><i class="ni ni-bold-right" aria-hidden="true"></i></button>
                                </div>
                            </li>
                        }
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Dashboard  -->
    <vc:footer></vc:footer>
    <!-- End Footer Dashboard  -->
</div>


<script src="~/assets/js/plugins/chartjs.min.js"></script>
<script>
    var ctx1 = document.getElementById("chart-line").getContext("2d");
    var year = document.getElementById("YearRequest").value;
    function updateYear() {
        year = document.getElementById("YearRequest").value;
        console.log('year: ' + year);
    }

    console.log('year: '+year);
    var gradientStroke1 = ctx1.createLinearGradient(0, 230, 0, 50);

    gradientStroke1.addColorStop(1, 'rgba(94, 114, 228, 0.2)');
    gradientStroke1.addColorStop(0.2, 'rgba(94, 114, 228, 0.0)');
    gradientStroke1.addColorStop(0, 'rgba(94, 114, 228, 0)');


    // binding data revenue by month
    var labelList = [];
    var data1 = [];
    var data2 = [];
    @foreach (var item in Model.RevenueByMonthList)
    {
        <text>
            labelList.push('@item.Label');
        data1.push('@item.Money');
        data2.push('@item.Quantity');
        </text>
    }

        new Chart(ctx1, {
            type: "line",
            data: {
                labels: labelList,
                datasets: [{
                    label: "Total money (VND)",
                    tension: 0.4,
                    borderWidth: 0,
                    pointRadius: 0,
                    borderColor: "#5e72e4",
                    backgroundColor: gradientStroke1,
                    borderWidth: 3,
                    fill: true,
                    data: data1,
                    maxBarThickness: 6

                },
                {
                    label: "Total quantity of product",
                    tension: 0.4,
                    borderWidth: 0,
                    pointRadius: 0,
                    borderColor: "#28bdbb",
                    backgroundColor: gradientStroke1,
                    borderWidth: 3,
                    fill: true,
                    data: data2,
                    maxBarThickness: 6

                }],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false,
                    }
                },
                interaction: {
                    intersect: false,
                    mode: 'index',
                },
                scales: {
                    y: {
                        grid: {
                            drawBorder: false,
                            display: true,
                            drawOnChartArea: true,
                            drawTicks: false,
                            borderDash: [5, 5]
                        },
                        ticks: {
                            display: true,
                            padding: 10,
                            color: '#fbfbfb',
                            font: {
                                size: 11,
                                family: "Open Sans",
                                style: 'normal',
                                lineHeight: 2
                            },
                        }
                    },
                    x: {
                        grid: {
                            drawBorder: false,
                            display: false,
                            drawOnChartArea: false,
                            drawTicks: false,
                            borderDash: [5, 5]
                        },
                        ticks: {
                            display: true,
                            color: '#ccc',
                            padding: 20,
                            font: {
                                size: 11,
                                family: "Open Sans",
                                style: 'normal',
                                lineHeight: 2
                            },
                        }
                    },
                },
                onHover: function (event, elements) {
                    if (elements && elements.length > 0) {
                        document.getElementById("chart-line").style.cursor = 'pointer';
                    } else {
                        document.getElementById("chart-line").style.cursor = 'default';
                    }
                },
                onClick: function (event, elements) {
                    //// elements will contain information about the clicked points
                    if (elements && elements.length > 0) {
                        var month = elements[0].index + 1;
                        $.ajax({
                            type: "GET",
                            url: '/Manage?handler=ChartData&month=' + month + '&year=' + year,
                            success: function (response) {
                                updateTopProductTable(response.quantity, 'TopProductTable', true);
                                updateTopProductTable(response.money, 'TopProductRevenueTable', false);
                            },
                            error: function (error) {
                                console.error(error);
                            }
                        });
                    }
                },

            },
        });

    function updateTopProductTable(data, nameTable, isQuantity) {
        var table = document.getElementById(nameTable);
        var tbody = table.getElementsByTagName("tbody")[0];
        tbody.innerHTML = "";

        for (var i = 0; i < data.length; i++) {
            var row = tbody.insertRow(i);
            var cell0 = row.insertCell(0)
            cell0.style.maxWidth = "30px";
            cell0.innerHTML = i + 1;
            var cell1 = row.insertCell(1);

            cell1.classList.add("text-truncate");
            cell1.style.maxWidth = "130px";

            cell1.innerHTML = data[i].productName;
            if (isQuantity == true) {
                row.insertCell(2).innerHTML = data[i].totalQuantity
            } else {
                row.insertCell(2).innerHTML = `${data[i].totalMoney} $`
            }
        }
    }

</script>
