﻿@page
@model PMS.WebApp.Areas.Manage.Pages.Inventory.Category.IndexModel
@{
	ViewData["Title"] = "Danh sách các Category";
}
<h2 style="margin-top:100px">@ViewData["Title"]</h2>

<partial name="_StatusMessage" model="@Model.StatusMessage"></partial>


<div class="mb-2">
	<a class="btn btn-secondary" asp-page="./Create">Add new category</a>
	<button class="btn btn-primary" onclick="ExportToExcel()">Download excel</button>
</div>

<table class="table">
	<tr>
		<th>Name</th>
		<th>Action</th>
	</tr>
	@foreach (var category in Model.Categories.Categories)
	{
		<tr>
			<td>@category.Name</td>
			<td>
				<a class="btn btn-success btn-sm" asp-page="./Edit" asp-route-id="@category.Id">Update</a>
				<a class="btn btn-success btn-sm" asp-page="./Delete" asp-route-id="@category.Id">Delete</a>
			</td>
		</tr>
	}
</table>

<script>
	function ExportToExcel() {
		window.location.href = 'https://localhost:5001/api/Extension/category';
	}
</script>