﻿@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p> U need enter this email @Model.Email to verify account (==3 </p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

