﻿@page
@model PMS.WebApp.Areas.Manage.Pages.PointOfSale.IndexModel
@{
}

<vc:header></vc:header>
<partial name="_StatusMessage" model="@Model.StatusMessage"></partial>
<div class="container-fluid py-4">
    <div class="row mt-3">
        <div class="col-3">
            <form method="get">
                <div class="input-group mb-3">
                    <button class="btn btn-outline-primary mb-0" type="submit" id="button-addon1">Search</button>
                    <input type="text" asp-for="ProductSearchRequest.KeyWords" class="form-control" placeholder="Search..." aria-label="Example text with button addon" aria-describedby="button-addon1">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-7">
            <div class="card">
                <div class="table-responsive">
                    <table class="table align-items-center mb-0 table-hover">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Code</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Name</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Quantity</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Price</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Discount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in Model.ProductResponse.Products)
                            {
                                <tr style="cursor:pointer">
                                    <td>
                                        <div class="d-flex px-2 py-1" style="max-width: 60px;">@product.Code</div>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0 text-truncate" style="max-width:100px;">@product.Name</p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="text-secondary text-xs font-weight-bold">@product.Quantity</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">@product.Price</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">@product.Discount</span>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <form method="post" id="myForm">

                        <h5 class="card-title text-center">Detail Bill</h5>
                        <table class="table table-hover align-items-center mb-0" id="tableDetailBill">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Code</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" colspan="2">Name</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" colspan="1">Quantity</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Price</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <p class="justify-content-end">Total: <span id="totalPrice"></span> vnd</p>
                        <input type="hidden" id="totalDiscountInput" asp-for="OrderRequest.TotalPrice" />
                        <div class="input-group mb-3">
                            <span class="input-group-text">$</span>
                            <input id="PaymentCustomer"
                                asp-for="OrderRequest.PaymentCustomer"
                                   type="text"
                                   class="form-control"
                                   placeholder="Enter payment">
                            <p class="text-danger"></p>
                            <span asp-validation-for="OrderRequest.PaymentCustomer" class="text-danger"></span>
                        </div>
                        <input type="hidden" id="SelectedProductsInput" asp-for="SelectedProductsString" />
                        <!-- Button trigger modal -->
                        <button class="btn btn-icon btn-3 btn-primary" type="button" id="submitButton">
                            <span class="btn-inner--icon"><i class="ni ni-check-bold"></i></span>
                            <span class="btn-inner--text">Save</span>
                        </button>

                        <!-- Modal -->
                        <div class="modal fade"
                             id="staticBackdrop"
                             data-bs-backdrop="static"
                             data-bs-keyboard="false"
                             tabindex="-1"
                             aria-labelledby="staticBackdropLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Payment success</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Code</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Quantity</th>
                                                    <th scope="col">Price</th>
                                                    <th scope="col">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Mark</td>
                                                    <td>Otto</td>
                                                    <td>mdo</td>
                                                    <td>mdo</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td>Jacob</td>
                                                    <td>Thornton</td>
                                                    <td>fat</td>
                                                    <td>fat</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">3</th>
                                                    <td>Larry the Bird</td>
                                                    <td>twitter</td>
                                                    <td>twitter</td>
                                                    <td>twitter</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="mb-3">
                                            <label for="userName" class="form-label">User Name</label>
                                            <input type="text" class="form-control" id="userName">
                                        </div>
                                        <div class="mb-3">
                                            <label for="phoneUser" class="form-label">Phone</label>
                                            <input type="text" class="form-control" id="phoneUser">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save User Information</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    // Lấy danh sách các hàng trong bảng gốc
    var rows = document.querySelectorAll(".table tbody tr");

    rows.forEach(function (row) {
        row.addEventListener("click", function () {
            var code = row.querySelector("td:nth-child(1) div").textContent;
            var name = row.querySelector("td:nth-child(2) p").textContent;
            var discount = row.querySelector("td:nth-child(4) span").textContent;
            var quantity = row.querySelector("td:nth-child(3) span").textContent;

            // Hiển thị dữ liệu trong bảng thứ hai
            var selectedProductTable = document.getElementById("tableDetailBill");
            var selectedProductTableBody = selectedProductTable.querySelector("tbody");

            // Kiểm tra xem sản phẩm đã tồn tại trong bảng mới chưa
            var existingProduct = selectedProductTableBody.querySelector(`tr[data-code="${code}"]`);

            if (!existingProduct) {
                var newRow = document.createElement("tr");
                newRow.dataset.code = code; // Thêm dataset để đánh dấu sản phẩm này đã được thêm
                newRow.innerHTML = `
                                        <td class="text-xs text-center">${code}</td>
                                        <td class="text-xs text-center text-truncate" style="max-width: 100px;" colspan="2">${name}</td>
                                        <td class="text-xs text-center"><input type="number" value="1" min="1" max="${quantity}" style="max-width:3rem"/></td>
                                        <td class="text-xs text-center">${discount}</td>
                                        <td class="text-xs text-center"><button class="btn btn-danger btn-sm">X</button></td>
                                    `;
                selectedProductTableBody.appendChild(newRow);

                // Thêm sự kiện xóa hàng khi bấm vào nút X
                newRow.querySelector("button").addEventListener("click", function () {
                    selectedProductTableBody.removeChild(newRow);
                    calculateTotal();
                });
                // Thêm sự kiện cho input khi thay đổi giá trị
                var quantityInput = newRow.querySelector("input");
                quantityInput.addEventListener("input", function () {
                    calculateTotal();
                });
            }
            calculateTotal();
        });
    });
</script>

<script>
    document.getElementById("submitButton").addEventListener("click", function () {
        var selectedProducts = [];
        var tableRow = document.querySelectorAll("#tableDetailBill tbody tr");
        tableRow.forEach(function (row) {
            var code = row.querySelector("td:nth-child(1)").textContent;
            var name = row.querySelector("td:nth-child(2)").textContent;
            var quantity = row.querySelector("td:nth-child(3) input").value;
            var discount = parseFloat(row.querySelector("td:nth-child(4)").textContent);

            selectedProducts.push({ Code: code, Name: name, Quantity: quantity, Price: discount });
        });

        // cap nhan gia tri an trong form
        var selectedProductsInput = document.querySelector("#SelectedProductsInput");
        selectedProductsInput.value = JSON.stringify(selectedProducts);

        document.getElementById("myForm").submit();
    });

</script>

<script>
    function calculateTotal() {
        totalDiscount = 0; // Đặt lại tổng discount trước khi tính toán

        var tableRow = document.querySelectorAll("#tableDetailBill tbody tr");
        tableRow.forEach(function (row) {
            var quantity = parseFloat(row.querySelector("td:nth-child(3) input").value);
            var discount = parseFloat(row.querySelector("td:nth-child(4)").textContent);
            totalDiscount += discount * quantity;
        });

        // Hiển thị tổng discount trong cột "Total"
        var totalDiscountColumn = document.getElementById("totalPrice");
        totalDiscountColumn.textContent = totalDiscount.toFixed(2);
        // Cập nhật giá trị totalDiscount vào input ẩn
        var totalDiscountInput = document.getElementById("totalDiscountInput");
        totalDiscountInput.value = totalDiscount.toFixed(2);
    }
</script>

@*check validation payment*@
<script>
    $(document).ready(function () {
        $("#PaymentCustomer").on("input", function () {
            var totalPrice = parseFloat($("#totalPrice").text());
            var paymentCustomer = parseFloat($(this).val());
            if (totalPrice == 0){
                $(this).next("p").text("Chua mua gi");
            }
            else if (isNaN(paymentCustomer) || paymentCustomer < totalPrice) {
                $(this).next("p").text("Thiếu tiền bạn ơi");
            } else {
                $(this).next("p").text("");
            }
        });
    });
</script>