﻿@page
@model PMS.WebApp.Areas.Callin.Pages.GroupModel
@{
}




<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
<!--Group-->
<div class="main-wrapper">
	<div class="container">
		<div class="page-content">
			<div class="container mt-5">
				<div class="row">
					<div class="col-md-4 col-12 card-stacked">
						<div class="card shadow-line mb-3 chat">
							<div class="chat-user-detail">
								<div class="p-3 chat-header">
								</div>
							</div>
							<div class="p-3 chat-header">
								<div class="d-flex">
									<div class="w-100 d-flex pl-0">
										<!--Avatar-->
										<img class="user-detail-trigger rounded-circle shadow avatar-sm mr-3 chat-profile-picture" src="~/images/@Model.CurrentUser.Avatar" />
										<p>@Model.CurrentUser.FullName</p>
									</div>
									<div class="flex-shrink-0 margin-auto">
										<a role="button" id="create-room" data-bs-toggle="modal" data-bs-target="#create-room-modal" class="btn btn-sm btn-icon btn-light active text-dark ml-2">
											<!--Add group-->
											<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
										</a>
										<a asp-area="Identity" asp-page="/Account/Manage/Index" class="btn btn-sm btn-icon btn-light active text-dark ml-2">
											<!--Edit group-->
											<svg viewBox="0 0 24 24" width="15" height="15" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="feather">
												<path d="M12 20h9"></path>
												<path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
											</svg>
										</a>
									</div>
								</div>
							</div>
							<div class="chat-search pl-3 pr-3">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Search a conversation">
									<div class="input-group-append prepend-white">
										<span class="input-group-text pl-2 pr-2">
											<i class="fs-17 las la-search drop-shadow"></i>
										</span>
									</div>
								</div>
							</div>

							<div class="chat-user-panel">
								<div class="pb-3 d-flex flex-column navigation-mobile pagination-scrool chat-user-scroll">
									@foreach (var groupDto in Model.GroupDtos)
									{
										<div class="chat-item active d-flex pl-3 pr-0 pt-3 pb-3">
											<div class="w-100">
												<div class="d-flex pl-0">
													<img class="rounded-circle shadow avatar-sm mr-3" src="~/assets/img/theme/tim.png">
													<div>
														<p class="margin-auto fw-400 text-dark-75">@groupDto.Name</p>
														<div class="d-flex flex-row mt-1">
															<span>
																<div class="svg15 double-check"></div>
															</span>
															<span class="message-shortcut margin-auto text-muted fs-13 ml-1 mr-4">@groupDto.LastMassage</span>
														</div>
													</div>
												</div>
											</div>
											<div class="flex-shrink-0 margin-auto pl-2 pr-3">
												<div class="d-flex flex-column">
													@* <p class="text-muted text-right fs-13 mb-2">@groupDto.LastMassage</p> *@
													<div class="text-right d-flex flex-row">
														<a role="button" class="btn btn-close remove-group" data-groupid="@groupDto.Id" id="remove-room" data-bs-toggle="modal" data-bs-target="#remove-room-modal"></a>
														<i class="text-muted la la-angle-down ml-1 fs-15"></i>
													</div>
												</div>
											</div>
										</div>
										<a class="btn btn-success btn-sm" asp-page="./Index" asp-route-groupId="@groupDto.Id">Join Group</a>
									}

								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<form method="post" asp-page-handler="createGroup">
	<div class="modal fade" id="create-room-modal" tabindex="-1" aria-labelledby="createRoomModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="createRoomModalLabel">Create Group</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<input type="text" asp-for="CreateUpdateGroup.Name" class="form-control" id="roomName" maxlength="100" placeholder="Enter group name..." />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Create</button>
				</div>
			</div>
		</div>
	</div>
</form>

<form method="post" asp-page-handler="deleteGroup">
	<input type="hidden" asp-for="GroupId" id="groupIdInput" value="GroupId">
	<div class="modal fade" id="remove-room-modal" tabindex="-1" aria-labelledby="removeRoomModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="removeRoomModalLabel">Delete Group</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p class="mb-0">Are you sure you want to delete this chat group?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-sm btn-danger" data-bs-dismiss="modal">Delete</button>
				</div>
			</div>
		</div>
	</div>

</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.7/js/min/perfect-scrollbar.jquery.min.js"></script>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js"></script>
<script>
	(function ($) {
		"use strict";
		$('.scrollable-chat-panel').perfectScrollbar();
		var position = $(".chat-search").last().position().top;
		$('.scrollable-chat-panel').scrollTop(position);
		$('.scrollable-chat-panel').perfectScrollbar('update');
		$('.pagination-scrool').perfectScrollbar();

		$('.chat-upload-trigger').on('click', function (e) {
			$(this).parent().find('.chat-upload').toggleClass("active");
		});
		$('.user-detail-trigger').on('click', function (e) {
			$(this).closest('.chat').find('.chat-user-detail').toggleClass("active");
		});
		$('.user-undetail-trigger').on('click', function (e) {
			$(this).closest('.chat').find('.chat-user-detail').toggleClass("active");
		});
	})(jQuery);
</script>

<script>
	$(document).ready(function () {
		$(".remove-group").click(function () {
			var groupId = $(this).data("groupid");
			$("#groupIdInput").val(groupId); // Set the groupId in the hidden input field
		});
	});
</script>





<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>